<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/HearthStoneDataBase</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">shafieiali42</property>
        <!-- SQl dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <!-- update the database schema on startup -->

        <!-- update the database schema on startup -->

                <property name="hbm2ddl.auto">create</property>

<!--                <property name="hbm2ddl.auto">update</property>-->


<!--        <mapping class="Models.Student"/>-->
<!--        <mapping class="Models.Student"/>&ndash;&gt;-->
        <mapping class="Models.Cards.CardClasses.Cards"/>
        <mapping class="Models.Cards.CardClasses.Minion"/>
        <mapping class="Models.Cards.CardClasses.Spell"/>
        <mapping class="Models.Cards.CardClasses.Weapon"/>
        <mapping class="Models.Cards.CardClasses.Passive"/>
<!--        <mapping class="Models.Cards.CardClasses.Weapon"/>&ndash;&gt;-->
        <mapping class="Models.Cards.GameCards.WeaponCards.Ashbringer"/>
        <mapping class="Models.Cards.GameCards.WeaponCards.BattleAxe"/>
        <mapping class="Models.Cards.GameCards.WeaponCards.Gearblade"/>

<!--        <mapping class="Models.Cards.CardClasses.Minion"/>&ndash;&gt;-->


    </session-factory>
</hibernate-configuration>